body {
  background-color: #e7eaf6;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 800;
  text-align: center;
  color: #e6a4b4;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 50px;
  margin-bottom: 20px;
}

.form-input {
  width: 70%;
  padding: 15px;
  border-radius: 30px;
  color: black;
}

.submit-button {
  width: 100px;
  padding: 15px;
  border-radius: 20px;
  margin: auto;
  margin-left: 10px;
  border: none;
  background-color: #e6a4b4;
  color: white;
}

.generating {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  100% {
    opacity: 0;
  }
}

a {
  color: #e6a4b4;
}

.poem {
  padding: 20px;
  line-height: 1.7;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-left: 7px solid #e6a4b4;
  font-family: inherit;
  display: flex;
}

.hidden {
  display: none;
}

.hint {
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.5;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.poem strong {
  color: #e6a4b4;
}
