body {
  background-color: #e7eaf6;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 800;
  text-align: center;
}

.form {
  background-color: white;
  padding: 20px;
  border-radius: 50px;
}

.form-input {
  width: 80%;
  padding: 15px;
  border-radius: 30px;
  border-color: #e7eaf6;
  color: black;
}

.submit-button {
  width: 70px;
  padding: 15px;
  border-radius: 20px;
  margin: auto;
  border: none;
  background-color: #a2a8d3;
  color: white;
}

.poem-placeholder {
  padding: 20px;
  line-height: 1.7;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-left: 7px solid #a2a8d3;
  font-family: inherit;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.poem strong {
  color: #a2a8d3;
}
